<% page_title h(@page.title) %>

<p>Article not found.</p>


<% if write_access? %>
  <% if @page.title != @page.title.upcase_first_letter %>
    <p>Create <%= link_to @page.title.upcase_first_letter, new_page_path(@page.title.upcase_first_letter.to_permalink) %>.</p>
  <% end %>

  <p>Create <%= link_to @page.title, new_page_path(@page.title.to_permalink) %>.</p>
<% end %>