<% content_for(:sidebar) do %>
  <div class="sidebar_box">
    <h3>View mode</h3>
    
    <ul class="simple">
      <li><%= link_to_unless (current_page?(page_revision_path(@page, @revision)) || current_page?(page_path(@page))),
        "Plain", page_revision_path(@page, @revision) %></li>
      <li><%= link_to_unless_current "Changes", page_revision_changes_path(@page, @revision) %></li>
      <li><%= link_to_unless_current "Content age", page_revision_content_age_path(@page, @revision) %></li>
    </ul>
  </div>
<% end %>