<% page_title page_link(@page), "Deleting" %>
<%= render :partial => "navigation" %>

<p>Will be restorable, but all revisions prior to the current revision is removed.</p>

<%= button_to "Destroy the page", page_path(@page), :method => :delete %>