<% page_title "Discussions for &ldquo;#{page_link(@page)}&rdquo;" do %>
  <%= link_to "New discussion", new_page_discussion_path(@page) %>
<% end %>

<% @discussions.each do |discussion| %>
  <div class="discussion">
    <h2><%= link_to discussion.title, page_discussion_path(@page, discussion) %></h2>
    <p>Last updated <%= datetimestamp(discussion.updated_at) %> by <%= author_link(discussion.latest_discussion_entry) %></p>
  </div>
<% end %>