<% page_title "IP log for #{@ip}" %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Page</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision_link(revision.page, revision) %></td>
        <td><%= link_to h(revision.page.title), page_path(revision.page) %></td>
        <td><%= link_to "Changes", page_revision_changes_path(revision.page, revision) %></td>
      </tr>
    <% end %>
  </tbody>
</table>