<% page_title "IP log for #{@ip}" %>

<% grouped_revision_log(@revisions, ["#", "Date", "Page", ""]) do |revision, timestamp| %>
  <td><%= link_to "##{revision.revision_number}", page_revision_path(revision.page, revision) %></td>
  <td><%= timestamp %></td>
  <td><%= page_link(revision.page) %></td>
  <td><%= link_to "Changes", page_revision_changes_path(revision.page, revision) %></td>
<% end %>