<% page_title "User &ldquo;#{h @user.login}&rdquo;" %>
<div id="page_meta">
  Member since <%= datestamp(@user.created_at) %>
</div>

<% unless @user.profile_text.blank? %>
  <div id="user_profile_text">
    <%= render_body(@user.profile_text) %>
  </div>
  <hr />
<% end %>

<div class="left_column">  
  <h3>Created these pages</h3>
  
  <ul>
    <% @created_pages.each do |page| %>
      <li><%= link_to h(page.title), page_path(page) %></li>
    <% end %>
  </ul>
</div>

<div class="right_column">
  <h3>Recent activities</h3>
  <p>Not implemented yet.</p>
</div>