<% page_title page_link(@page), link_to("##{@revision.revision_number}", page_revision_path(@page, @revision)), "Changes" %>
<%= render :partial => "pages/page_actions" %>
<%= render :partial => "pages/view_mode" %>

<div class="diff">
  <%= Kii::Diff::HTML.diff(render_body(@previous_revision_body), render_body(@revision.body)) %>
</div>