<% page_title "Changes made in &ldquo;#{link_to h(@page.title), page_path(@page)}&rdquo; \##{@revision.revision_number} " %>
<div id="page_meta">
  <%= render :partial => "revision_meta" %>
</div>

<div class="diff">
  <%= Kii::Differ.diff(render_body(@previous_revision.body), render_body(@revision.body)) %>
</div>