<% page_title "Changes for &ldquo;#{link_to h(@page.title), page_path(@page)}&rdquo; between \##{@previous_revision.revision_number} and \##{@current_revision.revision_number}" %>
<div id="page_meta">
  <%= link_to "Back to list", page_revisions_path(@page) %>
</div>

<div class="diff">
  <%= Kii::Differ.diff(render_body(@previous_revision.body), render_body(@current_revision.body)) %>
</div>