<% page_title page_link(@page), link_to("\##{@revision.revision_number}", page_revision_path(@page, @revision)), "Rollback" %>

<p>This is a one-way operation that will remove all revisions created after revision #<%= @revision.revision_number %></p>

<%= button_to "Rollback!", page_rollback_revision_path(@page, @revision), :method => :post %>