<% page_title page_link(@page), link_to("##{@revision.revision_number}", page_revision_path(@page, @revision)), "Content age" %>
<% render :partial => "pages/page_actions" %>
<% render :partial => "pages/view_mode" %>

<p><em>Content age is only available for the <%= link_to "newest revision", page_revision_content_age_path(@page, @page.revisions.current) %>.</em></p>