<% page_title "Revision \##{@revision.revision_number} of &ldquo;#{page_link(page)}&rdquo;" %>
<div id="page_meta">
  <%= render :partial => "revision_meta" %>
</div>

<%= render_body(@revision.body) %>