<% page_title "Revision \##{@revision.revision_number} of &ldquo;#{link_to h(@page.title), page_path(@page)}&rdquo;" %>
<div id="page_meta">
  <%= render :partial => "revision_meta" %>
</div>

<%= render_body(@revision.body) %>